/* stylings for blog homepage*/
.summaries {
	border-right: 1px solid #DBDBDB;
	width: 50%;
	height: 100%;
	display: inline-block;		
	font-size: 1.25em;
	text-align: left;
	padding: 1em;
	margin-top: 1em;
	margin-left: 15%;
}

.summaries div {
	border-bottom: 1px solid #DBDBDB;
	margin-bottom: 2em;
}

.summaries div a {
	font-size: 1.50em;
}

.archives {
	width: 22%;
	height: 100%;
	float: right;
	margin-right: 8%;
	padding-top: 2em;
	/*border: 1px solid black;*/
}

.archives a {
	text-decoration: none;
	color: #70AAE2;
	font-size: 1.25em;
	display: block;
	margin-top: 1em;
}

.archives strong {
	color: #4D7E8E;
	text-decoration: underline;
	text-align: left;
	font-size: 2em;
}

/* stylings for blog article pages*/
.post {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 2em;
	font-size: 1.25em;
}

h1 {
	font-size: 1.75em;
	color: #4D7E8E;
}

h3 {
	background-color: #D4E4EE;
	display: inline;
	padding-left: .20em;
	padding-right: .20em;
	border-radius: .15em;
}

a {
	color: #70AAE2;
}

pre {
	background-color: #E6E6E6;
	min-height: 1em;
	border-radius: .25em;
	padding: .50em;
}

.highlight {
	background-color: #E2E2E2;
	border-radius: .25em;
}

.underline {
	text-decoration: underline;
}

.quote {
	font-style: italic;
	background-color: #E9F7FF;
}

.highlight_change {
	color: #E3563B;
}

.date {
	color: white;
	background-color: #A3BCC4;
	border-radius: 0.1em;
	width: 5em;
	padding-left: 0.5em;
}